<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="5000" />
	</settings>

	<mappers>
		<mapper resource="com/pcs/heaven/sqlmap/UserInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/MenuInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/CodeInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/TrcodeInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ResourceInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ApkInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/BoardManageInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/BoardInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/CalendarInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/PostItInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientMainInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientTellInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientAddressInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientEmailInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientDetailInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientIncomeInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientPropertyInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientDreamInfo.xml" />
		<mapper resource="com/pcs/heaven/sqlmap/ClientContractInfo.xml" />
	</mappers>

</configuration>